Source: rx51-sensor-reglist
Section: unknown
Priority: optional
Maintainer: Sakari Ailus <sakari.ailus@unokia.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.8.0

Package: rx51-sensor-reglist
Architecture: all
Description: Register list images for RX-51
